# IntelliJ
.idea/
.iml

# Gradle
.gradle/
/build/
**/build/

# Jupyter
**/.ipynb_checkpoints/

# Python
*.py[cod]
__pycache__/
*.egg-info/

# base module
**/modules/matter-base/src/main/resources/build_time
**/modules/matter-base/src/main/resources/hash
matter_inspect.json

# doclet module
**/doclet/bin/
**/doclet/out/
**/doclet/matter_inspect.json

# groovy module
GroovyLexer.java
GroovyLexer.tokens
GroovyParser.java
GroovyParser.tokens
GroovyParserBaseListener.java
GroovyParserListener.java

# groovy-dist module
modules/matter-groovy/dist/python/matter_groovy/kernel/*
modules/matter-groovy/dist/dist

# Others

VERSION